.header{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 15px;
    color: #433009;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    width: 25rem;
    height: 15rem;
    background-color: rgba(64,41,0,1);
    opacity: 0.8;
    border-radius: 25px;
    box-shadow: 15px 15px 15px rgba(15,15,15,0.78);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cardContent{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homeCardContainer{
    margin-top: 30vh;
    margin-left: 25vh;
    margin-right:25vh;
    margin-bottom: 25vh;
}

.CardContainer{
    margin-top: 30vh;
    margin-left: 10vh;
    margin-right:10vh;
    margin-bottom: 25vh;
}

.homeContentCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 20px;
}

.homeButton{
    margin: 15px;
    width: 2.5rem;
    fill: #fff;
    opacity: 0.68;
}

.navBar{
    display: flex;
    justify-content: space-between;
}